@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');


.home-section {
    padding: 3rem 10rem;
    background-color: #1D1919;
    color: #FFF9E1;
    max-width: 100%;
}

.home-title {
    text-align: center;
    user-select: none;
}

  .home-title h1 {
    text-align: left;
    font-size: 48px; 
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: "Teko", sans-serif;
    color: #FFF9E1;
  }

  .divider {
    border: none;
    height: 1px;
    background-color: #FFF9E1;
    width: 100%;
    margin-bottom: 2rem;
  }


.home-section h1 {
    text-align: left;
    font-size: 48px; 
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: "Teko", sans-serif;
    user-select: none;
}


.home {
    border: none;
    height: 1px;
    background-color: #FFF9E1;
    width: 100%;
    margin-bottom: 2rem;
    user-select: none;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 5rem;
}

.home-image {
    flex-basis: 45%;
    user-select: none;
}

.profile-img {
    width: auto;
    height: 600px;
    border-radius: 12px;
}


.home-description {
    flex-basis: 50%;
}

.home-description h2 {
    font-size: 48px;
    font-family: "Teko", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1rem;
}

.a-description {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-align: left;
}

.roles {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Teko", sans-serif;
    color: #FFF9E1;
    margin-bottom: 1.5rem;
    text-align: left;
}


/* Buttons styling */
.home-buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.btn-projects {
    background-color: #F34343;
    color: #FFF9E1;
}

.btn-contact {
    background-color: rgba(102, 31, 31, 0.2);
    color: #FFF9E1;
    border: 2px solid #F34343;
}

.btn:hover {
    background-color: #FFF9E1;
    color: #F34343;
    transition: color 0.3s;
}

/* links */

.btn a, .btn a:active, .btn a:visited{
    text-decoration: none;
    color: #FFF9E1;
}

.btn a:hover{
    color:#F34343;
}


@media (min-width: 1200px) {
    .home-container {
        padding: 1rem 10rem;
    }
    .home-title{
        padding: 0 5rem;
    }


    .home-description h2 {
        font-size: 64px;
    }
    .roles{
        margin-top: -1.75rem;
    }

    .a-description {
        font-size: 20px;
    }

    .profile-img {
        width: auto;
        height: 550px;
        border-radius: 12px;
    }
}


@media (max-width: 1199px) {

    .home-section{
        padding: 2rem 5rem;
    }
    
    .home-container {
        flex-direction: row;
        padding: 4rem;
    }

    .home-title{
        padding: 0 5rem;
    }


    .home-description h2 {
        font-size: 48px;
    }

    .roles{
        margin-top: -1.75rem;
    }

    .a-description {
        font-size: 18px;
    }

    .btn {
        padding: 0.75rem 1.25rem;
    }
    .profile-img {
        width: auto;
        height: 500px;
        border-radius: 12px;
    }
}


@media (max-width: 768px) {
    .home-section{
        padding: 2rem 5rem;
    }
    .home-section h1 {
        font-size: 36px;
        text-align: center;
    }
    .home-title{
        padding: 0 5rem;
        text-align: center;
    }

    .home-container {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
    }

    .home-image,
    .home-description {
        flex-basis: 100%;
        padding: 1.5rem;
    }

    .profile-img {
        width: auto;
        height: 400;
        margin-bottom: 1rem;
    }

    .home-description h2 {
        font-size: 36px;
        text-align: center;
    }

    .roles {
        font-size: 1.25rem;
        text-align: center;
        margin-top: -1rem;
    }

    .a-description {
        font-size: 16px;
        text-align: center;
    }

    .home-buttons {
        gap: 0.75rem;
    }

    .btn {
        width: 50%;
    }
}


@media (max-width: 480px) {
    .home-section h1 {
        font-size: 1.8rem;
        text-align: center;
    }
    
    
    .home-title{
        padding: 0 5rem;
        text-align: center;
    }

    .home-container {
        flex-direction: column;
        padding: 0.5rem;
        text-align: center;
    }

    .home-image,
    .home-description {
        flex-basis: 100%;
    }

    .profile-img {
        width: auto;
        height: 300px;
    }

    .home-description h2 {
        font-size: 2rem;
        text-align: center;
    }

    .roles {
        font-size: 1.25rem;
        text-align: center;
        margin-top: -1rem;
    }

    .a-description {
        font-size: 0.8rem;
        text-align: center;
    }

    .home-buttons {
        gap: 0.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width:100%;
    }
}
