html, body{
    scroll-behavior: smooth;
    
}

.kilowhatt-section{
    background-color: #1D1919;
    font-family: 'Poppins', sans-serif;
    padding: 3rem 20rem;
}

.back-btn{
    color: #F34343;
    text-decoration: none;
}

.cover-img {
  width: 100%;
  border-radius: 10px;
  margin: 2rem 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  user-select: none;
}

.title h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 650;
  margin:3rem 0rem;
  color: #FFF9E1;
}

.kilowhatt-section{
    color: #FFF9E1;
}

.kilo-description{
    padding-bottom: 0.5rem;
    line-height: 2rem;
}

.kilo-description span{
    font-weight: bold;
}

.wireframe img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5rem;
}

.top, .top a{
    color:#F34343;
    text-align: right;
    text-decoration: none;
}