.projects-section {
    padding: 3rem 10rem;
    background-color: #1D1919;
    font-family: 'Poppins', sans-serif;
  }
  
  .project-title {
    text-align: center;
    margin-bottom: 2rem;
    user-select: none;
  }
  
  .project-title h1 {
    text-align: left;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: "Teko", sans-serif;
    color: #FFF9E1;
  }
  
  
  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  

  .projects-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  

  .project-card {
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease;

  }
  

.project-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    

    filter: grayscale(100%);
    transition: filter 0.4s ease, transform 0.4s ease; 
  }
  
  .project-card:hover .project-img {
    filter: grayscale(0%); 
    transform: scale(1.05); 
  }
  
 
  .project-tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .project-tags span {
    color: #FFF9E1;
    border: 1px solid #F34343;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-size: 0.85rem;
    font-weight: 500;
    text-align: left;
  }
   @media (max-width: 1199px){
    .projects-section h1 {
        font-size: 36px;
        text-align: center;
    }
    .projects-section {
      padding: 2rem 5rem;
      text-align: center;
    }

        .project-title h1 {
      font-size: 2rem;
      text-align: center;
    }
  
    .projects-top {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 768px) {

    .projects-section h1 {
        font-size: 36px;
        text-align: center;
    }
    .projects-section {
      padding: 2rem 5rem;
      text-align: center;
    }

        .project-title h1 {
      font-size: 2rem;
      text-align: center;
    }
  
    .projects-top {
      grid-template-columns: 1fr;
    }
  }
  

  @media (max-width: 480px) {
    .projects-section {
      padding: 1.5rem;
      text-align: center;
    }
  
    .project-title h1 {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .divider {
      width: 20%;
    }
  
    .project-card {
      padding: 1rem;
    }
  
    .project-tags span {
      font-size: 0.75rem;
      padding: 0.4rem 0.8rem;
    }
  }
  