.projects-section {
  padding: 3rem 10rem;
  background-color: #1D1919;
  font-family: 'Poppins', sans-serif;
}

.project-title {
  text-align: center;
  margin-bottom: 2rem;
  user-select: none;
}

.project-title h1 {
  text-align: left;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: "Teko", sans-serif;
  color: #FFF9E1;
}


.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}


.projects-top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}


.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 7rem 5rem;
  border-radius: 12px;
  gap: 3rem;
  transition: transform 0.3s ease;
}

.project-info {
  text-align: left;
  padding: 2rem;
}

.project-title{
  text-align: left;
  color: #FFF9E1;
  font-size: 2rem;
  font-weight: 650;
  margin-bottom: 1rem;
}

.project-description {
  margin-top: 1rem;
  color: #FFF9E1;
  line-height: 1.6;
  font-size: 0.95rem;
}


.project-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project-tags span {
  color: rgba(255, 249, 225, 0.5);
  border-radius: 50px;
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.project-link{
  color: #FFF9E1;
  text-align: right;
  font-size: small;
  text-decoration: none;
}

.project-link a{
  color: #F34343;
  text-align: right;
  font-size: small;
  text-decoration: none;
}


.project-img {
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: filter 0.6s ease, transform 0.6s ease;
}


.project-img.active {
  filter: grayscale(0%);
  transform: scale(1.03);
}


@media (max-width: 1199px) {
  .projects-section {
    padding: 2rem 5rem;
  }

  .project-title h1 {
    font-size: 36px;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .projects-section {
    padding: 1.5rem;
  }
  .project-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .project-info {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .projects-section {
    padding: 1.5rem;
  }

  .project-info {
    text-align: left;
  }

  .project-title h1 {
    font-size: 1.5rem;
  }

  .project-tags span {
    font-size: 0.75rem;
    padding: 0.35rem 0.8rem;
  }
}
