
.navbar {
    position: sticky;
    top: 0;
    background-color: #1D1919;
    color: #FFF9E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    z-index: 999;
    user-select: none;
  }
  
  .logo-container {
    flex-shrink: 0;
  }
  
  .logo {
    width: 50px;
    height: auto;
    margin-left: 2rem;
  }
  
  /* Nav links for desktop */

  .nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
  }
  
  .nav-links a {
    color: #FFF9E1;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s, font-weight 0.3s;
  }
  
  .nav-links a:hover {
    color: #F34343;
    font-weight: 700;
  }
  
  /* Hide hamburger icon on desktop */
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #FFF9E1;
    margin: 4px;
    transition: all 0.3s;
  }
  

  @media (max-width: 768px) {
    .nav-links ul {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #1D1919;
      flex-direction: column;
      align-items: center;
      width: 100%;
      display: none;
      padding: 2rem;
    }
  
    .nav-links.open ul {
      display: flex;
    }
  
    .nav-links ul li {
      margin: 1rem 0;
    }
  
    /* Hamburger icon */
    .hamburger {
      display: block;
    }
  

    .bar.open:nth-child(1) {
      transform: rotate(45deg) translateY(8px);
    }
  
    .bar.open:nth-child(2) {
      opacity: 0;
    }
  
    .bar.open:nth-child(3) {
      transform: rotate(-45deg) translateY(-8px);
    }
  }
  